* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  font-family: $font-family; 
  color: $font-color;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

a {
  font-weight: 500;
  color: $font-color;
  text-decoration: none;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $link-color-light;
  }

  &.active {
    color: $link-color;
  }
}

html {
  font-size: 62.5%;
}

input[disabled] {
  pointer-events: none;
}

body {
  background-color: $main-bg;
}

button {
  border: 0;
}

@media only screen and (max-width: 970px) {
  html {
    font-size: 52.5%;
  }
}
