@use "sass:color";

$font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
$color-white: rgba(255, 255, 255, 0.87);
$bg-color: #242424;
$link-color: #00E054;
$link-color-light: color.scale($link-color, $lightness: 10%);