.wrapper {
  margin-top: 3rem;

  h2 {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 2.4rem;
  }
}

.cast-list {
  list-style: none;
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(auto-fill, minmax(13.8rem, 13.8rem));
  grid-auto-rows: 1fr;
  justify-content: center;
  gap: 2rem;
}