.grid-wrapper {
  list-style: none;
  margin-top: 2.4rem;
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(auto-fill, minmax(23rem, 23rem));
}

.horizontal-wrapper {
  list-style: none;

  li + li {
    margin-top: 1.4rem;
  }
}

.empty-movies {
  font-size: 1.4rem;
  margin-top: 2.4rem;
}

.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
}