.wrapper {
  width: 100%;
  border-radius: 0.8rem;
  overflow: hidden;
  border: 0.1rem solid #293037;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, .4);
  display: flex;

  > div:first-of-type {
    width: 13.4rem;
    height: 20rem;

    img {
      width: 100%;
      height: 100%;
    }
  }

  > div:last-of-type {
    padding: 1rem 1.6rem;
  }
}