.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #293037;
  padding-bottom: 1rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, .4);
  overflow: hidden;
  width: fit-content;
  max-width: 13.8rem;
  height: 100%;

  > div:first-of-type {
    background-image: url("/public/icons/default-cast.svg");
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #dbdbdb;
    width: 13.8rem;
    height: 17.5rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  > div:last-of-type {
    padding: 0 1rem;
    
    strong {
      font-size: 1.6rem;
    }

    p {
      font-size: 1.4rem;
    }
  }
}