.wrapper {
  max-width: 95rem;
  width: 100%;
  margin: 5.4rem auto 3.2rem;

  > div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    > h1 {
      font-size: 2.4rem;
    }
  }


  ul {
    list-style: none;
    margin-top: 2.4rem;

    li + li {
      margin-top: 1.4rem;
    }
  }
}

.empty-movies {
  font-size: 1.4rem;
  margin-top: 2.4rem;
}

.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
}