.wrapper {
  width: 100%;

  > div {
    padding: 1.6rem 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 95rem;
    width: 100%;

    h1 {
      font-size: 2.8rem;
      cursor: pointer;
    }

    nav ul {
      display: flex;
      align-items: center;
      gap: 1.8rem;
      list-style: none;

      li {
        cursor: pointer;
        font-size: 1.4rem;

        a {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 0.2rem;
            background-color: $link-color;
            transition: width 0.2s ease-in-out;
          }

          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}